@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
}

.container {
  margin-top: 150px;
}

.newarrival {
  background: green;
  width: 50px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.col-md-7 h2 {
  color: #555;
}

.price {
  color: #fe980f;
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px;
}

input {
  border: 1px solid #ccc;
  font-weight: bold;
  height: 25px;
  text-align: center;
  width: 30px;
}

.col-md-7 select {
  margin-left: 5px;
}

.col-md-7 h3 {
  margin-top: 10px;
}

.col-md-7 .content_product {
  width: 480px;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

:root {
  --lg-font: 'Nanum Myeongjo', serif;
}

body {
  font-family: var(--lg-font);
}

/*nav bar */
.navbar-brand img {
  display: block;
  width: 26px;
}

.navbar {
  border: 2px solid rgba(0, 0, 0, 0.05);

}

.navbar-brand span {
  letter-spacing: 2px;
  font-family: var(--lg-font);
  font-size: 15px;
  font-weight: 500;
}

.nav-item {
  font-size: 15px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

.navbar-nav li a {
  font-weight: 1000;
}

.navbar .btn {
  font-size: 23px;
}

#special {
  margin-top: 70px;

}


.special-img span {
  top: 20px;
  right: 20px;
}

.special-list .btn {
  padding: 8px 20px !important;
}

.special-img img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.special-img:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* product content filter */

.title h5 {
  font-weight: 200;
  margin-left: 8px;
}

.title span {
  opacity: 0.2;
}

#special .product-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-left: 8px;
}

.product-content h5 {
  font-weight: 700;
}

.product-content h5 span {
  opacity: 0.2;
}

.product-filter .form-group label {
  font-weight: 1000;
  font-size: 15px;
}

.product-filter .form-group:last-of-type {
  margin-left: 30px;
}

#special .product-content .product-filter {
  display: flex;
  width: 100%;
  padding: 0;
  border: none;
  position: static;
  margin-top: 20px;
}

.product-filter .form-group {
  display: flex;
  align-items: center;
}

.form-group span {
  font-weight: 200;
}

.form-group select {
  margin-left: 10px;
  width: 98px;
  height: 30px;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 700;
}

.form-select option {
  font-size: 15px;
}

.special-list .col-md-6 {
  cursor: pointer;
}

/* footer */

.description h6 {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-bottom: 20px;
}

.social-icon {
  display: flex;
  text-align: start;
  margin-top: 20px;
  font-size: 25px;
}

.social-icon a {
  color: grey;
  margin-right: 20px;
}

.social-icon ul li {
  text-decoration: none;
}

.site-footer-container .row p a {
  color: black;
  text-decoration: none;
  font-size: 13px;
}

.site-footer-container .row h6 {
  font-size: 15px;
  font-weight: 900;
}

@media(min-width: 992px) {
  .nav-item {
    border-bottom: none;
  }
}

.main-page {
  padding-top: 100px;

}

.cart-intro {
  align-items: center;
  margin-bottom: 70px;
}

.cart-intro h5 {
  font-weight: bold;
}

.checkout-status .active {
  padding-right: 105px;
}


.checkout-status .active i {
  display: flex;
  align-items: center;
  width: 36px;
  height: 36px;
  position: relative;
  border: 2px solid #fbb03b;
  border-radius: 100%;
  justify-content: center;
  font-size: 16px;
  color: white;
  background-color: #fbb03b;
}

.done i {
  display: flex;
  align-items: center;
  width: 36px;
  height: 36px;
  position: relative;
  border: 1px solid #fbb03b;
  border-radius: 100%;
  justify-content: center;
  font-size: 16px;
  color: #fbb03b;
}

.checkout-status .active::before {
  width: 6%;
  height: 1px;
  right: 166px;
  top: 142px;
  content: "";
  display: block;
  background: #eee;
  margin-top: -1px;
  position: absolute;
}

.cart-action {
  margin-top: 75px;
}

.cart-action .btn-back {
  margin-right: auto
}

.cart-action .btn-back i {
  margin-right: 15px;
}

.cart-action .cart-promo {
  border: 1px solid gray;
  width: auto;
  height: 49px;
  padding-left: 10px;
  opacity: 0.6;
  font-size: 13px;
  border-radius: 30px;
}

.cart-check-out {
  margin-top: 30px;
}

.cart-check-out a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fbb03b;
  border-radius: 50px;
  font-size: 13px;
  padding: 8px 25px;
  background-color: #fbb03b;
  text-transform: uppercase;
}

/* shipping */

.checkout-btn button {
  display: inline-block;
  font-size: 13px;
  width: 125px;
  margin-right: 11px;
  border: 1px solid #f1f1f1;
  border-radius: 50px;
  padding: 12px 23px;
}

.btn-log {
  background-color: #fbb03b;
}

.form-col input {
  width: 100%;
  border: 1px solid #d8d8d8;
  border-radius: 40px;
  height: 40px;
  padding: 25px 35px;
}


.round-option {
  margin-left: -32px;
}

.round-option li img {
  max-width: 70%;
  max-height: 70%;
  vertical-align: middle;
}

.round-option .round-item {
  display: flex;
  width: 30%;
  height: 44px;
  margin-bottom: 8px;
  border: 1px solid #d8d8d8;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.round-option-2 {
  margin-left: -32px;
}

.round-option-2 .round-item-2 {
  display: flex;
  width: 40%;
  height: 51px;
  margin-bottom: 8px;
  border: 1px solid #d8d8d8;
  border-radius: 20px;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 6px;
}

.round-option-2 li img {
  max-width: 70%;
  max-height: 70%;
  vertical-align: middle;
}

/* checkout total */

.checkout-total {
  width: 244px;
  background: #f1f1f1;
  border-radius: 40px;
  height: 49px;
  display: flex;
  padding: 0 36px;
  justify-content: space-between;
}

/* action-cart */

.action button {
  border: 1px solid #d8d8d8;
  border-radius: 50px;
  display: inline-block;
  color: #000;
  font-size: 13px;
  cursor: pointer;
  padding: 10px 20px;
}

.btn-pay {
  background-color: #fbb03b;
}

.btn-ctn {
  background-color: white;
}

/* media queries */
@media(min-width: 992px) {
  .nav-item {
    border-bottom: none;
  }
}


.half,
.half .container>.row {
  height: 100vh;
}

@media (max-width: 991.98px) {
  .half .bg {
    height: 500px;
  }
}

.half .contents,
.half .bg {
  width: 50%;
}

@media (max-width: 1199.98px) {

  .half .contents,
  .half .bg {
    width: 100%;
  }
}

.half .contents .form-group,
.half .bg .form-group {
  overflow: hidden;
  margin-bottom: 0;
  border: 1px solid #efefef;
  padding: 15px 15px;
  border-bottom: none;
  position: relative;
}

.half .contents .form-group label,
.half .bg .form-group label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.half .contents .form-group input:focus+label,
.half .bg .form-group input:focus+label {
  margin-top: -20px;
}

.half .contents .form-group.first,
.half .bg .form-group.first {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.half .contents .form-group.last,
.half .bg .form-group.last {
  border-bottom: 1px solid #efefef;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.half .contents .form-group label,
.half .bg .form-group label {
  font-size: 12px;
  display: block;
  margin-bottom: 0;
  color: #b3b3b3;
}

.half .contents .form-group.field--not-empty label,
.half .bg .form-group.field--not-empty label {
  margin-top: -20px;
}

.half .contents .form-control,
.half .bg .form-control {
  border: none;
  padding: 0;
  font-size: 20px;
  border-radius: 0;
}

.half .contents .form-control:active,
.half .contents .form-control:focus,
.half .bg .form-control:active,
.half .bg .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.half .bg {
  background-size: cover;
  background-position: center;
}

.half a {
  color: #888;
  text-decoration: underline;
}

.half .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
}

.half .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px;
}

.social-login a {
  display: block;
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.social-login a:hover {
  color: #fff;
}

.social-login a.facebook {
  background: #3b5998;
}

.social-login a.facebook:hover {
  background: #344e86;
}

.social-login a.twitter {
  background: #1da1f2;
}

.social-login a.twitter:hover {
  background: #0d95e8;
}

.social-login a.google {
  background: #ea4335;
}

.social-login a.google:hover {
  background: #e82e1e;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}

.control .caption {
  position: relative;
  top: .2rem;
  color: #888;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
  background: #ccc;
}

.control input:checked~.control__indicator {
  background: #007bff;
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
  background: #1a88ff;
}

.control input:disabled~.control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none;
}

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.control input:checked~.control__indicator:after {
  display: block;
  color: #fff;
}

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.control--checkbox input:disabled~.control__indicator:after {
  border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked~.control__indicator {
  background-color: #7e0cf5;
  opacity: .2;
}